:root {
    --bg-main: #0b0f1a;
    --bg-sidebar: #111827;
    --bg-card: #1e293b;
    --bg-card-hover: #253246;

    --border-color: #334155;

    --primary-blue: #2682f1;
    --hover-blue: #3a86ff;
    --deep-blue: #0d2770;

    --beige-primary: #E3C39D;
    --beige-secondary: #A68868;

    --text-primary: #edeff1;
    --text-secondary: #9ca3af;

    --text-black: #212529;
    --text-black-muted: #495057;

    --green: #10B981;
    --red: #ef4444;
    --yellow-favorite: #FBBF24;

    --font-main:
        'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Roboto',
        sans-serif;
    --fs-title: 1.5rem;
    --fs-subtitle: 1.25rem;
    --fs-text: 1rem;
    --fs-sec-text: 0.75rem;

    --radius: 10px;
    
    --shadow-sm: 0 2px 4px rgba(28, 28, 26, 0.05);

    --sidebar-width: 16rem;
}

[data-theme="light"] {
  --bg-main: #f0f6f7; 
  
  --bg-sidebar: #f1f8fc; 

  --bg-card: #ffffff;
  --bg-card-hover: #e4eefd;
  --hover-blue: #c7dcfd;

  --border-color: rgba(141, 139, 126, 0.12); 
  
  --text-primary: #1e2530;   
  --text-secondary: #687181; 
  
  --green: #01b254;
  --red: #cf2626;

  --shadow-sm: 0 2px 8px rgba(30, 37, 48, 0.04);
  --shadow-md: 0 4px 20px rgba(30, 37, 48, 0.08);
}